<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SCRIBBLE</title>
    <style>
        body {
            background: #F5F9FC;
            display: flex;
            flex-direction: column;
            align-items: center;

        }

        #toolBarTop {
            width: 80%;
            height: 40px;
            background:#FFFFFF;
            border:0.5px solid black;
            margin-top : 40px;
            border-radius: 10px;
        }

    </style>
</head>
<body>
    <div id="toolBarTop"></div>
    <div id="mainArea">
        <div id="toolBarLeft">

        </div>
        <div id="canvasArea">
            <canvas id="canvas">

            </canvas>
        </div>
    </div>
    
</body>
</html>